* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --index: calc(1vw + 1vh);
  --color-header: rgb(32, 30, 30);
  --color-text: rgb(37, 33, 33);
  --gallery-gap: calc(var(--index) * 8);
}
@font-face {
  font-family: raleway-c;
  src: url(../fonts/raleway-regular.woff2);
}
@font-face {
  font-family: outfit-c;
  src: url(../fonts/outfit-regular.woff2);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: outfit-c;
}
header {
  display: block;
}
.up {
}
/* will-change */
.content,
.hero,
.main-header,
.gallery > * {
  will-change: transform;
}
body {
  background-image: url(../img/bg.jpg);
  background-size: 50px;
  color: rgb(29, 27, 27);
  font-family: raleway-c;
  overflow: visible;
}

.hero {
  width: calc(var(--index) * 27);
  position: absolute;
  left: 43vw;
  top: 8vh;
}
.main-header {
  height: 100vh;
}
.container {
  padding: 0 7vw;
}
.main-title {
  font-size: calc(var(--index) * 8);
  position: absolute;
  width: min-content;
  bottom: 27vh;
}
.gallery {
  display: flex;
  padding: calc(var(--index) * 8) 0;
}
.gallery > * {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery_left img {
  transform: scale(1);
  width: 100%; /* или любой другой фиксированный размер */
  height: auto;
  max-width: 100%; /* чтобы изображение было в пределах .gallery_right */
}
.gallery_right img {
  transform: scale(1);
  width: 100%; /* или любой другой фиксированный размер */
  height: auto;
  max-width: 100%; /* чтобы изображение было в пределах .gallery_right */
}
.gallery_item {
  max-width: calc(var(--index) * 10);
  margin-bottom: var(--gallery-gap);
  max-height: 180vh;
  border-radius: 8px;
}
.gallery_left {
  margin-top: calc(var(--gallery-gap) * 1.75);
  margin-right: 20px;
}
.gallery_right .gallery_item {
  margin: 0;
  margin-top: calc(var(--gallery-gap) * 1.75);
}
.text-block {
  color: var(--color-text);
  position: relative;
}
.text-block_h {
  font-size: 2rem;
  line-height: 2.4rem; /* Текущая высота строки для заголовков */
  color: var(--color-header);
  margin-bottom: 1.5rem;
}

.text-block_p {
  line-height: 1.75; /* Текущая высота строки для параграфов */
}
